.about {
    display: flex; 
    justify-content:flex-start;
    align-items: center; 
    padding: 50px;
    gap: 40px;
}

.jn{
    max-width: 30%; 
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #ddd6f6;
    transform: scale(1);
    transition: 0.5s;
    margin-left: 50px;
}

.about .jn:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #261E47;
    transition: 0.5s;
}

.about h1{
    font-family: 思源黑體;
    font-size: 40px;
    text-align: left;
    margin: 0;
    color: #3b5571;
    text-shadow: 3px 3px 5px#b1b4c8;
}
.about h1:hover{
    font-size: 44px;
    color:#261E47;
    font-weight: 700;
    transition: 0.3s;
}

.about-article {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.about-article ul {
    text-align: justify;
    list-style: none;
    line-height: 2.5;
}

.aboutme {
    margin-top: -10px;
    font-size: 20px;
    transition: 0.3s;  
}

.aboutme a {
    color:#333;
    text-decoration: none;
    transition: 0.3s;
}

.aboutme:hover a {
    font-size: 25px;
    color:#920f08;
    font-weight: 700;
    transition: 0.3s;
}

.aboutme p{
    margin: 0px;
}

.slogan01{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 思源黑體;
    margin-right: auto;
    transition: 0.5s;
    color:#261E47;
}

.slogan01:hover {
    padding-top: 20px;
    font-size: 25px;
    color: #920f08;
    font-weight: 700px;
    letter-spacing: 3px;
    transition: 0.5s;
}

.slogan02{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 思源黑體;
    transform: scale(1);
    transition: 0.5s;
    color: #261E47;
    padding-right: 40px;
}

.slogan02:hover {
    padding-top: 18px;
    font-size: 24px;
    color: #920f08;
    font-weight: 700;
    letter-spacing: 3px;
    transition: 0.5s;
}


@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        padding: 20px 10px;
        gap: 20px;
    }
    
    .jn {
        max-width: 80%; 
        margin-left: 0; 
        justify-content: center;
    }

    .about-article ul{
        padding-left: 0px;
    }
    
    .about-text-content {
        width: 100%; 
    }
    
    .about h1 {
        text-align: center;
    }

    .about .slogan02{
        padding-right: 0px;
    }

    .about p{
        font-size: 16px;
        margin-right: 20px;
    }

    .about li{
        font-size: 16px;
        margin-left: 20px;
    }

    .aboutme{
        margin: 20px;
    }
}