header{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
    display: flex;
    background-color:#6E75A4;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.WJN01{
    display: flex;
    text-align: left;
    padding-left: 30px;
    font-family: 思源黑體;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    font-size: 16px;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateY(0px);
    transition: 0.3s;
}

header nav a{
    display: inline-block; 
    align-items: center;
    padding-right: 30px;
    font-family: 思源黑體;
    text-decoration: none;
    font-size: 14px;
    transform: translateY(0px);
    transition: 0.3s;
    color: white;
    padding: 14px 16px ;
}

header nav a:hover {
    font-weight: 700;
    transform: translateY(-5px);
    background-color: #4E4F97;
    border-radius: 10px;
}

header .contact{
    background-color: #0F2540;
    border-radius: 10px;
    height: 35px;
    width: 88px;
    display: flex;
    align-items: center;
}

