body{
    margin: 0;
    height: 100%;
    background-color: #E6EAF2;
}

*{
    box-sizing: border-box;
}

.gap {
    width: 100%;
    height: 40px;
}

.wrap {
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px #ddd6f6;
    position: relative;
    padding: 50px;
    max-width: 100%;
    margin : auto;
    width:1400px 
}

.clearfix{
    clear: both;
}

@media screen and (max-width: 800px) {
    .wrap {
        margin: 20px 10px; 
        padding: 20px;
        width: 400px;
    }
}