/*設定左上角標題*/
.programs .title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    top: -20px;
    left: -20px;
    overflow: hidden;/*隱藏超出此容器邊界的內容*/
}

/*設定左上角標題文字與橫條*/
.programs .title::before {
    position: absolute;
    content: "程式技能";
    font-family: 思源黑體;
    width: 150%;
    height: 60px;
    background-color: #cec8ea;
    transform: rotate(-40deg)  translateY(-20px);
    line-height: 1.75;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: #3f454b;
    letter-spacing: 10px;/*控制文字間的間距*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*設定左上角橫條兩側延伸的小圓角*/
.programs .title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color:#cec8ea;
    z-index: 1;/*將此元素置底*/
    box-shadow: 290px -230px #cec8ea;/*設定位置及顏色*/
}
.programs .bar {
    width: 40%;
    margin-left: 90px;
}
.bar li p{
    padding-left: 50px;
    margin: 0;
    padding-top: 6px;
}
.bar .scroll {
    text-align: right;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.html-bar, .py-bar, .c-bar, .java-bar, .cc-bar {
    width: 5%;
    background-color:#cec8ea;
    animation: 5s infinite;
}

.html-bar { 
    animation-name: html-bar; 
}

/*動畫序列 從5跑到85*/
@keyframes html-bar {
    from {
        width: 5%;
    }
    to {
        width: 85%;
    }
}

.py-bar { 
    animation-name: py-bar; 
}

/*動畫序列 從5跑到70*/
@keyframes py-bar {
    from {
        width: 5%;
    }
    to {
        width: 70%;
    }
}

.c-bar { 
    animation-name: c-bar; 
}

/*動畫序列 從5跑到80*/
@keyframes c-bar {
    from {
        width: 5%;
    }
    to {
        width: 80%;
    }
}

.java-bar { 
    animation-name: java-bar; 
}

/*動畫序列 從5跑到75*/
@keyframes java-bar {
    from {
        width: 5%;
    }
    to {
        width: 75%;
    }
}

.cc-bar { 
    animation-name: cc-bar; 
}

/*動畫序列 從5跑到60*/
@keyframes cc-bar {
    from {
        width: 5%;
    }
    to {
        width: 60%;
    }
}

.programs .text {
    width: 50%;
    margin-top: 10px;
    font-family: 思源黑體;
    line-height: 1.5;
}

.programs .text li {
    text-align: justify;
    padding-bottom:  35px ;
}

.programs {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 40px;
    gap: 10px; 
}

@media screen and (max-width: 768px) {
    .programs {
        flex-direction: column; 
        align-items: flex-start;
        gap: 20px;
    }
    
    .programs .bar{
        width: 100%; 
        margin-left: 0; 
        padding-top: 80px;
        justify-content: center;
    }
    .programs .text {
        width: 100%; 
        margin-left: 0; 
        justify-content: center;
    }
    
    .programs .title {
        top: -10px;
        left: -10px;
        width: 250px;
        height: 200px;
    }

    .programs ul{
        padding-left: 0px;
    }
}