.skills {
    padding: 30px;
    gap: 30px;
}

.skills-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
}

.skills-article{
    float: left;
    width: 70%;
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

aside{
    float: right;
    width: 40%;
}

.emt{
    justify-content: flex-end; 
    align-items: flex-end;
    position: relative;
    margin: 0;
    width: 450px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #ddd6f6;
    transform: translateY(0px);
    transition: 0.5s;
}

.emt:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #261E47;
    transition: 0.5s;
}

.skills-EMTh1{
    font-family: 思源黑體;
    font-weight: bold ;
    font-size: 32px;
    color: #3b5571;
    width: 37%;
    margin-left:300px;
    margin-bottom: 0px;
    text-shadow: 3px 3px 5px#b1b4c8;
}
.skills p{
    text-align: justify;
    line-height: 2;
}
