.skills {
    display: flex; 
    justify-content:flex-end;
    align-items: center; 
    padding: 30px;
    gap: 30px;
}

.emt{
    max-width: 30%; 
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #ddd6f6;
    transform: scale(1);
    transition: 0.5s;
}

.emt:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #261E47;
    transition: 0.5s;
}