.skills {
    padding: 30px;
    gap: 30px;
}

.skills-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
}

.skills-article{
    float: left;
    width: 70%;
    text-align: center;
}

.skills h1{
    font-family: 微軟正黑體;
    font-size: 24px;
    width: 37%;
    margin-left:300px;
}


aside{
    float: right;
    width: 40%;
}

.emt{
    justify-content: flex-end; 
    align-items: flex-end;
    position: relative;
    margin: 0;
    width: 360px;
    height: 270px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #ddd6f6;
    transform: translateY(0px);
    transition: 0.5s;
}

.emt:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #261E47;
    transition: 0.5s;
}

.skills h3{
    font-family: 微軟正黑體;
    font-size: 24px;
    width: 100%;
    margin: 10px;
}