.specialty {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 40px;
}

.section-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 0;
    font-family: 思源黑體;
    font-weight: bold ;
    color: #3b5571;
}

.specialty-grid {
    display: flex;
    width: 100%; 
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;
}

.specialty-grid article {
    flex: 1;
    text-align: center; 
    padding: 20px;
    border: 1px solid #ccc; 
    min-height: 500px; 
    background-color: #f7f7f7;
    border-radius: 8px;
}

.specialty-img{
    max-width:280px; 
    height: auto;
    box-shadow: 1px 1px 3px 3px #ddd6f6;
    transform: scale(1);
    transition: 0.5s;
    border-radius: 20px;
    margin-bottom: 5px;
}

.specialty-img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #261E47;
    transition: 0.5s;
}

.specialty h3{
    color: #3b5571;
    font-family: 思源黑體;
}

.specialty video{
    padding-top: 20px;
    padding-bottom:40px;
}

.specialty p{
    color: #3b5571;
    font-family: 思源黑體;
    text-align: justify;
}

