body{
    margin: 0;
    height: 100%;
    background-color: #E6EAF2;
}

*{
    box-sizing: border-box;
}

.gap {
    width: 100%;
    height: 20px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px #ddd6f6;
    position: relative;
    padding: 80px;
    margin: 20px 20px;

}